<app-menus [isfixed]="false"></app-menus>
<div class="ns-wrap">
    <div class="container">
        <div class="back-link">
            <a routerLink="/home/">
               <img src="assets/img/host-backend/arrow-back.svg" alt="arrow-back">
                <span>Return back</span>
            </a>
       </div>
        <div class="head">
            <h2>Notifications</h2>
        </div>
        <div class="choice-area">

            <p class="subhead">Messages and Requests</p>
            <div class="choice-wrap">
                <p class="title">Receive messages and notifications from the guests, including booking request</p>
                <div class="choice-item">
                    <p class="choice">Email</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                            aria-label="switch">
                    </div>
                </div>
            </div>
            <div class="choice-wrap">
                <p class="title">Receive booking requests, confirmations and cancellations</p>
                <div class="choice-item">
                    <p class="choice">Email</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                            aria-label="switch">
                    </div>
                </div>
            </div>
            <p class="subhead">Reminders</p>
            <div class="choice-wrap">
                <p class="title">Receive reminders from breeze to manage your property</p>
                <div class="choice-item">
                    <p class="choice">Email</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                            aria-label="switch">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>