<main>
   <app-steps [width]="0" [active]="1"></app-steps>
   <div class="get-started">
      <div class="left-section">
         <div class="about-get-started">
            <img src="assets/img/host-property/get-started-img.svg" alt="Image" class="img-fluid">
            <h3>Mauris non tempor quam, et lacinia sapien..</h3>
            <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem
               pretium metus
            </p>
         </div>
      </div>
      <div class="right-section">
         <div class="brief-info">
            <h3>Get started with us</h3>
            <ul>
               <li>
                  <div class="brief-info-details">
                     <img src="assets/img/host-property/get-started-icon1.svg" alt="Icon">
                     <div>
                        <h6><span>1.</span> Give us an overview of your property</h6>
                        <p>Share some basic information about your property</p>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="brief-info-details">
                     <img src="assets/img/host-property/get-started-icon2.svg" alt="Icon">
                     <div>
                        <h6><span>2.</span> Highlight your property's unique features to make it stand out.</h6>
                        <p>By highlighting your property's unique features, you can make it stand out from the rest and
                           attract more attention from potential buyers or renters. 
                        </p>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="brief-info-details">
                     <img src="assets/img/host-property/get-started-icon3.svg" alt="Icon">
                     <div>
                        <h6><span>3.</span> Finish your listing and publish</h6>
                        <p>Submit your property and make it available.</p>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="savestep-section">
      <div class="left-btn">
      </div>
      <div class="right-btn">
         <a (click)="ShowNextStep()" class="save-next-btn">
             Get started 
           <span><img src="assets/img/host-property/next-icon.svg" alt="Icon"></span>
         </a>
      </div>
   </div>
</main>
