.bg-image img {
    width: 100%;
}
.btn-text {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    font-family: 'Gilroy-Bold';
}
.bg-container {
    width: 100%;
}
.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-control-next, .carousel-control-prev {
    visibility: hidden;
}
.carousel-caption h2 {
    line-height: 34px;
    font-size: 28px;
    font-weight: 700;
}
.carousel-caption p {
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}
.toggle-icons {
    position: absolute;
    top: 0;
    right: 2%;
    top: 50%;
    text-align: left;
    transform: translateY(-50%);
    cursor: pointer;
}
.login-form .form-floating {
    position: relative;
}
.login-form button[disabled] {
    background-color: #93A5AE;
    border: none;
}
.login-form {
    padding: 100px 202px 0 202px;
}
.create-new-heading {
    text-align: center;
}
.login-heading {
    text-align: center;
}
.login-heading {
    font-weight: 300;
    color: #182525;
    font-size: 27px;
    font-family: 'Gilroy-Bold';
}
.information {
    padding: 4rem 114px 0 114px;
    text-align: left;
}
.form-warning p, .information, .create-new-heading {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Gilroy-Medium';
    font-weight: 500;
}
.carousel-caption {
    bottom: 0;
}
@media only screen and (max-device-width: 767px) {
    .login-form {
        padding: 3rem 3rem 0 3rem;
    }
    .information {
        padding: 1rem 4rem 0 4rem;
    }
    .carousel-caption {
        bottom: 1.25rem;
    }
}
.btn-text {
    margin-left: 6rem;
}
.btn-image {
    padding-left: 4rem;
}
.btn-login {
    background: #0E7ECA;
}
.create-password .carousel-indicators [data-bs-target] {
    width: 10px;
}
.create-password .carousel-indicators .active {
    width: 20px;
}
.tick-image {
    text-align: center;
    padding-bottom: 20px;
}
.success-container {
    padding: 100px 88px 0 202px;
}
.success-message h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-family: 'Gilroy-Bold';
    padding-bottom: 15px;
}
.success-container p {
    font-size: 16px;
    line-height: 26px;
    color: #182525;
}
.continue-link .btn {
    background: #0E7ECA;
   color: #fff !important;
    padding: 12px;
    width: 166px;
    font-size: 16px;
    font-weight: 700;
}
.continue-link {
    text-align: center;
    padding-top: 79px;
}

.password-expired a {
    color: #019f98 !important;
    width: 100%;
    text-align: left;
    padding-left: 0;
    margin-bottom: 4%;
}