<section class="create-password">
   <div class="container-fluid ps-md-0">
      <div class="row g-0">
         <div class="d-md-flex col-md-4 col-lg-6 ">
            <div class="bg-container">
               <div id="carouselExampleCaptions" class="carousel slide"  data-bs-ride="carousel">
                  <div class="carousel-indicators">
                     <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                     <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                     <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                     <div class="carousel-item active" style="background-image: url('assets/img/host-onboarding/create-password/green-bg/banner-2.png')">
                        <div class="carousel-caption">
                           <h2>Mauris non tempor quam, et lacinia sapien..</h2>
                           <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus.</p>
                        </div>
                     </div>
                     <div class="carousel-item" style="background-image: url('assets/img/host-onboarding/create-password/green-bg/banner-2.png')">
                        <div class="carousel-caption">
                           <h2>Mauris non tempor quam, et lacinia sapien..</h2>
                           <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus.</p>
                        </div>
                     </div>
                     <div class="carousel-item" style="background-image: url('assets/img/host-onboarding/create-password/green-bg/banner-2.png')">
                        <div class="carousel-caption">
                           <h2>Mauris non tempor quam, et lacinia sapien..</h2>
                           <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus.</p>
                        </div>
                     </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                  </button>
               </div>
            </div>
         </div>
         <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12 col-lg-12">
                        <form [formGroup]="loginForm" *ngIf="!showSuccess"  class="login-form" (ngSubmit)="onSubmit()">
                        <h3 class="login-heading mb-4">Reset Password</h3>
                        <div class="form-floating mb-3 main-parent">
                           <input [type]="password1"  formControlName="password"  class="form-control" id="password" placeholder="Create new password">
                           <label for="password">Password</label>
                           <img *ngIf="!showPassword1" src="assets/img/host-onboarding/create-password/eye/ion-eye-disabled-Ionicons.png" class="toggle-icons closed-eye" (click)="toggleShow(1)">
                           <img *ngIf="showPassword1" src="assets/img/host-onboarding/create-password/eye/open-eye.png"  (click)="toggleShow(1)" class="toggle-icons open-eye">

                             <div *ngIf="(loginForm.get('password')?.touched) && (loginForm.get('password')?.invalid)">
                                  <p  class="error-msg" *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</p>
                                  <p  class="error-msg" *ngIf="loginForm.get('password')?.hasError('pattern')">Please enter password in Required Format.</p>
                              </div>

                        </div>
                        <div class="form-floating mb-3 main-parent">
                           <input [type]="password2" formControlName="confirmPassword" class="form-control" id="confirm-password" placeholder="Re-enter password">
                           <label for="confirm-password">Confirm Password</label>
                           <img *ngIf="!showPassword2" src="assets/img/host-onboarding/create-password/eye/ion-eye-disabled-Ionicons.png" class="toggle-icons closed-eye" (click)="toggleShow(2)">
                           <img *ngIf="showPassword2" src="assets/img/host-onboarding/create-password/eye/open-eye.png"  (click)="toggleShow(2)" class="toggle-icons open-eye">
                        </div>
                        <div class="form-warning">
                           <p>Your password should be 8 characters or more</p>
                        </div>
                        <p class="error-msg" *ngIf="errorMsg != '' || errorMsg !=  undefined">{{errorMsg}}</p>
                        

                            <div class="password-expired" *ngIf="ShowResendMail">
                              <a  routerLink="/login/reset-password"  class="btn">Send New Request</a>
                           </div>



                        <div class="d-grid">
                           <button class="btn btn-lg  btn-login  mb-2" [disabled]="!loginForm.valid" type="submit">
                           <span class="btn-text">Get started</span>
                               <img class="btn-image" src="assets/img/host-onboarding/create-password/btn-arrow.png" >  
                           </button>
                        </div>
                        </form>
                        <div  class="success-container" *ngIf="showSuccess" >
                           <div class="tick-image">
                              <img src="assets/img/host-onboarding/create-password/thank-you-tick.png" >
                           </div>
                           <div class="success-message">
                              <h3>Your Password Has Been Reset</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pret.</p>
                           </div>
                           <div class="continue-link">
                              <a  routerLink="/login"  class="btn">Continue</a>
                           </div>
                        </div>
                     </div>
                     <div class="information">
                        Donec facilisis tortor ut augue lacinia, at viverra est semper. Donec facilisis tortor ut augue lacinia, at viverra est semper.. Donec facilisis tortor ut augue lacinia, at viverra est semper..
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
