 .image-wrap {
     position: relative;
     width: 100%;
     height: 100vh;
     overflow-x: hidden;
 }
 .banner-content {
     position: absolute;
     z-index: 99999;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80%;
     text-align: center;
     font-size: 1.5em;
     color: #fff;
     line-height: 1.5;
 }
 .img-content img {
     width: 100%;
     height: 100vh;
     display: block;
 }
 .banner-content {
     width: 35%;
 }
 .message-container {
     margin-top: 3rem;
 }
 .banner-content h2 {
     font-size: 24px;
 }
 .continue-button {
     background: #fff;
     font-size: 16px;
     color: #182525;
     width: 166px;
     height: 60px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     font-weight: 700;
 }
 .btn-container {
     align-items: center;
     display: inline-block;
 }
 .message-container p {
     line-height: 26px;
     font-size: 16px;
     font-weight: 500;
     font-family: 'Gilroy-Medium';
 }
 @media (max-device-width: 767px) {
     .banner-content {
         width: 94%;
     }
 }