<section class="thank-you">
   <div class="image-wrap">
      <div class="img-content">
         <img src="assets/img/host-onboarding/thankyou/bg/banner.png" alt="">
      </div>
   </div>
   <div class="banner-content">
      <div class="sucess-icon">
         <img src="assets/img/host-onboarding/thankyou/sucess.png">
      </div>
      <div class="message-container">
         <h2>{{message}}</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pret.</p>
         <div class="btn-container">
           <a routerLink="/login" class="btn continue-button">Login</a>
         </div>
      </div>
   </div>
</section>
