.header {
	margin-bottom: 25px;
}

.header .module-title {
	color: rgba(68, 74, 74, 1);
	font-family: "Gilroy-Medium";
	font-size: 28px;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0px;
	text-align: left;
	margin-bottom: 20px
}

.faq-list-container .no-result {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
	border-radius: 10px;
	border: 1px solid #E7E7E7;
}

.faq-list-container .no-result p {
	color: rgba(147, 147, 149, 1);
	font-family: "Gilroy-Medium";
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	line-height: 21px;
}

.dataTable {
	border-collapse: separate;
	border-spacing: 0 15px;
}


::ng-deep {
	.faq-list-container {

		.dataTables_wrapper table.dataTable>thead>tr>th:first-child,
		.dataTables_wrapper table.dataTable>tbody>tr>td:first-child {
			width: 5%;
			text-align: center !important;
		}

		.dataTables_wrapper table.dataTable.row-border>thead>tr>th:last-child,
		.dataTables_wrapper table.dataTable.row-border>tbody>tr>td:last-child {
			width: 10%;
			text-align: center;
		}

		.dataTables_wrapper table.dataTable>thead>tr>th,
		.dataTables_wrapper table.dataTable.row-border>tbody>tr>td {
			text-align: left;
		}

		.dataTables_wrapper table.dataTable.row-border>tbody>tr>td.name
		{
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}
}