<main>
    <div class="thankyou">
        <div class="thankyou-content">
            <div class="sucess-icon">
                <img src="assets/img/host-property/success.svg" alt="Sucess Icon">
            </div>
            <div class="message-container">
                <h2>Your Property has been added</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pret.</p>
                <button class="continueButton" (click)="goToPage('/host-property/listing')">Continue</button>
            </div>
        </div>
    </div>
</main>