.breadcrump {
    padding: 10px 10px;
}
.breadcrump_wrap .source {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    font-size: 14px;
}

.breadcrump_wrap .source:after {
    content: "/";
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    line-height: 14px;
    top: -2px;
    position: relative;
}
.breadcrump_wrap .source:last-child:after {
    display: none;
}
.breadcrump_wrap .source{
    font-weight: 400;
    color: #8E8E93;
}
.breadcrump_wrap .source.parent {
    font-weight: 500;
    color: #373737;
}
.breadcrump_wrap .source.parent a {
    color: #373737;
    text-decoration: none;
}

/*Other compnent CSS*/

::ng-deep section.tickets .breadcrump{
    padding: 20px 0 25px !important;
}
/*Other compnent CSS*/