<main>
    <div class="get-started">
        <div class="left-section">
            <div class="brief-info">
                <h3>Add details about the establishment</h3>
                <div>
                    <div class="progressbar-wrapper">
                        <ul class="progressbar">
                            <li class="active">Add Details</li>
                            <li>Verification</li>
                            <li>Review</li>
                        </ul>
                    </div>
                    <p>We're all ears and eager to get to know your establishment better! It would be fantastic if you
                        could
                        share some extra details, like the unique features, services, or any special experiences you
                        offer.
                        We genuinely appreciate your input and can't wait to learn more about what makes your place
                        special!
                    </p>
                    <button class="save-next-btn">
                        Get started <span><img src="assets/img/host-property/next-icon.svg" alt="Icon"></span>
                    </button>
                </div>

            </div>
        </div>
        <div class="right-section">
            <div class="about-get-started">
                <img src="assets/img/tutorial.svg" alt="Tutorial" class="img-fluid">
            </div>
        </div>
    </div>

</main>