 button
{
    color: rgba(14,126,202,1);
    font-family: "Gilroy-Bold";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    outline: none;
    background: #fff;
}

img{
max-width: 141px;
max-height: 141px;
}