<app-menus [isfixed]="false"></app-menus>
<div class="page-content">
   <app-side-bar></app-side-bar>
   <div class="page-data">
      <app-breadcrumb [breadCrumb]="breadCrumb"></app-breadcrumb>
        <div class="pricing-management" *ngIf="estRentalType == 'full' ">
	        <app-whole-pricings></app-whole-pricings>
	     </div>
	      <div class="pricing-management" *ngIf="estRentalType == 'individual' ">
	        <app-individual-pricings></app-individual-pricings>
	     </div>
   </div>
</div>


