<main>
    <div class="edit-listing-page">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-sec">
                        <h2>Review your Listing</h2>
                        <p>Here's what your guests will see. Ensure everything looks great.</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="property-img">
                        <img src="assets/img/dashboard/restaurant-img.svg" alt="Property Img">
                        <a href="#" class="edit">Edit</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="edit-property-details">

                        <div class="property-basic-info">
                            <div class="property-name">
                                <h2>Young George - The Vegan Cafe</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>
                            <div class="property-location">
                                <img src="assets/img/dashboard/location.svg" alt="Location">
                                <span>Honda, Tolima, Colombia</span>
                                <a href="#" class="edit">Edit</a>
                            </div>
                            <div class="property-brief-info">
                                <p>Young George is one of the classiest vegan restaurants that serve food with style.
                                    The food here includes delicious pizzas, appetizers….</p>
                                <a href="#" class="edit">Edit</a>
                            </div>
                        </div>

                        <div class="property-kitchen-services">
                            <div class="heading">
                                <h2>Kitchen and room service</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>
                            <div class="open-hrs">
                                Operating Hours
                                <span>8am to 9pm</span>
                            </div>

                        </div>

                        <div class="property-room-info">
                            <div class="heading">
                                <h2>Table info</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>

                            <div class="room-type">
                                <span class="num">1.</span>
                                <div class="room-details">
                                    <span class="room-name">Family Dining Table</span>
                                    <span class="room-brief-details">

                                        <span class="about-room">
                                            <span class="title">No of tables</span>
                                            <span class="content">3</span>
                                        </span>
                                        <span class="about-room">
                                            <span class="title">No of guests</span>
                                            <span class="content">8</span>
                                        </span>
                                        <span class="about-room">
                                            <span class="title">Price per person</span>
                                            <span class="content">200$</span>
                                        </span>

                                    </span>
                                </div>
                            </div>

                            <div class="room-type">
                                <span class="num">2.</span>
                                <div class="room-details">
                                    <span class="room-name">Table for two</span>
                                    <span class="room-brief-details">

                                        <span class="about-room">
                                            <span class="title">No of tables</span>
                                            <span class="content">3</span>
                                        </span>
                                        <span class="about-room">
                                            <span class="title">No of guests</span>
                                            <span class="content">2</span>
                                        </span>
                                        <span class="about-room">
                                            <span class="title">Price per person</span>
                                            <span class="content">200$</span>
                                        </span>

                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="property-contact-info">
                            <div class="contact-details">
                                <div class="heading">
                                    <h2>Contact info</h2>
                                    <a href="#" class="edit">Edit</a>
                                </div>

                                <div class="contact-num">
                                    <input type="text" placeholder="+1 123 456 7890" value="+1 123 456 7890" readonly>
                                </div>
                            </div>

                            <div class="website-details">
                                <div class="heading">
                                    <h2>Website</h2>
                                    <a href="#" class="edit">Edit</a>
                                </div>

                                <div class="website-url">
                                    <input type="text" placeholder="www.thelojabythewater.in"
                                        value="www.thelojabythewater.in" readonly>
                                </div>
                            </div>

                            <div class="cancelation-policy-details">
                                <div class="heading">
                                    <h2>Free Cancelation policy</h2>
                                    <a href="#" class="edit">Edit</a>
                                </div>

                                <div class="policy-day">
                                    <input type="text" placeholder="No. of days" value="5 Days" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="property-amenities">
                            <div class="heading">
                                <h2>Amenities</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>
                            <div class="amenities-list">
                                <span>Wake-up Call</span>
                                <span>Valet Parking</span>
                                <span>Cribs/Infant Beds</span>
                                <span>Spa</span>
                                <span>Fitness Center/Gym</span>
                            </div>
                        </div>

                        <div class="property-info">
                            <div class="heading">
                                <h2>Basic Information</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>
                            <div class="info-list">
                                <div class="information">
                                    <span class="title">Type of establishment</span>
                                    <span class="content">Restaurants, Bar</span>
                                </div>
                                <div class="information">
                                    <span class="title">Type of cuisines</span>
                                    <span class="content">Indian, Chinese</span>
                                </div>
                                <div class="information">
                                    <span class="title">Type of meals</span>
                                    <span class="content">Breakfast, Lunch, Brunch, Dinner</span>
                                </div>
                                <div class="information">
                                    <span class="title">Are pets/ service animals allowed?</span>
                                    <span class="content">No</span>
                                </div>
                            </div>
                        </div>

                        <div class="property-restaurant-menu">
                            <div class="heading">
                                <h2>Menu of your restaurant</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>
                            <div class="restaurant-menu">
                                <ul class="menu-list">
                                    <li><img src="assets/img/dashboard/restaurant-menu1.svg" alt="Menu Item"></li>
                                    <li><img src="assets/img/dashboard/restaurant-menu2.svg" alt="Menu Item"></li>
                                </ul>                                
                            </div>
                        </div>

                        <div class="property-popular-dishes">
                            <div class="heading">
                                <h2>Popular dishes</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>
                            <div class="restaurant-dishes">
                                <ul class="dishes-list">
                                    <li><img src="assets/img/dashboard/restaurant-dish1.svg" alt="Menu Item"><span>Spaghetti</span></li>
                                    <li><img src="assets/img/dashboard/restaurant-dish2.svg" alt="Menu Item"><span>Pizza</span></li>
                                    <li><img src="assets/img/dashboard/restaurant-dish3.svg" alt="Menu Item"><span>Lasagna</span></li>
                                </ul>                                
                            </div>
                        </div>
                        
                        <div class="property-booking-info">
                            <div class="heading">
                                <h2>How many days prior can guest book the property</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>

                            <div class="advance-booking-days">
                                <input type="text" value="4 days" readonly>
                            </div>

                            <div class="heading">
                                <h2>Free cancellation</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>

                            <div class="cancel-booking-days">
                                <input type="text" value="4 days" readonly>
                            </div>
                        </div>

                        <div class="property-policies">
                            <div class="heading">
                                <h2>Policies</h2>
                                <a href="#" class="edit">Edit</a>
                            </div>

                            <div class="policy-list">
                                <span class="num">1.</span>
                                <div class="policy-details">
                                    <span class="policy-title">Cancelation Policy</span>
                                    <textarea class="policy-content" readonly>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
                                    </textarea>
                                </div>
                            </div>

                            <div class="policy-list">
                                <span class="num">2.</span>
                                <div class="policy-details">
                                    <span class="policy-title">Important Information</span>
                                    <textarea class="policy-content" readonly>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
                                    </textarea>
                                </div>
                            </div>

                        </div>

                        <div class="manage-listing">
                            <div class="heading">
                                <h2>Manage listing</h2>
                            </div>
                            <div class="manage-action">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="Listed" name="manageListing"
                                        id="listed" checked>
                                    <label class="form-check-label" for="listed">
                                        Listed
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="Under maintanance"
                                        name="manageListing" id="underMaintanance">
                                    <label class="form-check-label" for="underMaintanance">
                                        Under maintanance
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="Snooze" name="manageListing"
                                        id="snooze">
                                    <label class="form-check-label" for="snooze">
                                        Snooze
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="Deactivate" name="manageListing"
                                        id="deactivate">
                                    <label class="form-check-label" for="deactivate">
                                        Deactivate
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>