<app-menus [isfixed]="false"></app-menus>

<main>
    <div class="thankyou">
        <div class="thankyou-content">
            <div class="sucess-icon">
                <img src="assets/img/host-backend/success.svg" alt="Sucess Icon">
            </div>
            <div class="message-container">
                <h2>Thank You!</h2>
                <p>Our team will carefully review the documents and send you a confirmation email.</p>
                <button class="continueButton" (click)="goToPage('/home')">Continue</button>
            </div>
        </div>
    </div>
</main>