<main>

   <app-steps [width]="50" [active]="2"></app-steps>

   
   <!-- Describe Property Details -->
   <form [formGroup]="propertyType">
      <div class="property-type">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="common-header">
                     <h2>Which of these best describes your property?</h2>
                     <p>Cras quis nulla commodo, aliquam lectus sed,.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12">
                  <div class="property-type-data">
                     <div class="property-list">
                        <input type="radio" id="house" name="propertyItem" class="prop-type input-hidden" value="House"
                           formControlName="propertyItem" />
                        <label for="house" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon1.svg" alt="Icon">
                           <p>House</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="flat-aparment" name="propertyItem" class="prop-type input-hidden"
                           value="Flat/aparment" formControlName="propertyItem" />
                        <label for="flat-aparment" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon2.svg" alt="Icon">
                           <p>Flat/aparment</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="dorm" name="propertyItem" class="prop-type input-hidden" value="Dorm"
                           formControlName="propertyItem" />
                        <label for="dorm" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon3.svg" alt="Icon">
                           <p>Dorm</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="cabin" name="propertyItem" class="prop-type input-hidden" value="Cabin"
                           formControlName="propertyItem" />
                        <label for="cabin" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon4.svg" alt="Icon">
                           <p>Cabin</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="tree-house" name="propertyItem" class="prop-type input-hidden"
                           value="Tree house" formControlName="propertyItem" />
                        <label for="tree-house" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon5.svg" alt="Icon">
                           <p>Tree house</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="hotels" name="propertyItem" class="prop-type input-hidden"
                           value="Hotels" formControlName="propertyItem" />
                        <label for="hotels" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon6.svg" alt="Icon">
                           <p>Hotels</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="guest-house" name="propertyItem" class="prop-type input-hidden"
                           value="Guest house" formControlName="propertyItem" />
                        <label for="guest-house" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon7.svg" alt="Icon">
                           <p>Guest house</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="resort" name="propertyItem" class="prop-type input-hidden"
                           value="Resort" formControlName="propertyItem" />
                        <label for="resort" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon8.svg" alt="Icon">
                           <p>Resort</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="farm-house" name="propertyItem" class="prop-type input-hidden"
                           value="Farm house" formControlName="propertyItem" />
                        <label for="farm-house" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon9.svg" alt="Icon">
                           <p>Farm house</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="tent" name="propertyItem" class="prop-type input-hidden" value="Tent"
                           formControlName="propertyItem" />
                        <label for="tent" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon10.svg" alt="Icon">
                           <p>Tent</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="boat-house" name="propertyItem" class="prop-type input-hidden"
                           value="Boat house" formControlName="propertyItem" />
                        <label for="boat-house" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon11.svg" alt="Icon">
                           <p>Boat house</p>
                        </label>
                     </div>
                     <div class="property-list">
                        <input type="radio" id="others" name="propertyItem" class="prop-type input-hidden"
                           value="Others" formControlName="propertyItem" />
                        <label for="others" class="property-card">
                           <img src="assets/img/host-property/property-icon/property-icon12.svg" alt="Icon">
                           <p>Others</p>
                        </label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="savestep-section">
         <div class="left-btn">
            <button class="goback-btn" (click)="goBack()">
               Back
            </button>
         </div>
         <div class="right-btn">
            <button class="save-next-btn" [disabled]="propertyType.invalid" (click)="getPropertyType()">
               Save & Continue <span><img src="assets/img/host-property/next-icon.svg" alt="Icon"></span>
            </button>
         </div>
      </div>
   </form>
</main>