<app-menus></app-menus>
<main>
   <div class="edit-listing-page">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="heading-sec">
                  <h2>Review your Listing</h2>
                  <p>Here's what your guests will see. Ensure everything looks great.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div class="property-img">
                  <img src="assets/img/dashboard/property-img.svg" alt="Property Img">
                  <a href="#" class="edit">Edit</a>
               </div>
            </div>
            <div class="col-md-8">
               <div class="edit-property-details">
                  <div class="property-basic-info">
                     <div class="property-name">
                        <h2>The Loja by the water - a safe workation place</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="property-location">
                        <img src="assets/img/dashboard/location.svg" alt="Location">
                        <span>Honda, Tolima, Colombia</span>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="property-brief-info">
                        <p>The Loja (shop/store in Portuguese) on the water’s edge was a trading post. Canoas
                           (boats) exchanged salt and tiles for farm produce…
                        </p>
                        <a href="#" class="edit">Edit</a>
                     </div>
                  </div>
                  <div class="property-kitchen-services">
                     <div class="heading">
                        <h2>Kitchen and room service</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="open-hrs">Open 24 hrs</div>
                  </div>
                  <div class="property-room-info">
                     <div class="heading">
                        <h2>Rooms info</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="room-type">
                        <span class="num">1.</span>
                        <div class="room-details">
                           <span class="room-name">Family room</span>
                           <span class="room-brief-details">
                           <span class="about-room">
                           <span class="title">No of Beds</span>
                           <span class="content">1</span>
                           </span>
                           <span class="about-room">
                           <span class="title">No of guests</span>
                           <span class="content">2</span>
                           </span>
                           <span class="about-room">
                           <span class="title">Price per night</span>
                           <span class="content">200$</span>
                           </span>
                           <span class="about-room">
                           <span class="title">No of Rooms </span>
                           <span class="content">3</span>
                           </span>
                           <span class="about-room">
                           <span class="title">Shared room </span>
                           <span class="content">No</span>
                           </span>
                           <span class="about-room">
                           <span class="title">Private bathroom </span>
                           <span class="content">No</span>
                           </span>
                           <span class="about-room">
                           <span class="title">Types of bed</span>
                           <span class="content">Double Bed, floor mattress</span>
                           </span>
                           </span>
                        </div>
                     </div>
                     <div class="room-type">
                        <span class="num">2.</span>
                        <div class="room-details">
                           <span class="room-name">Suite</span>
                           <span class="room-brief-details">
                           <span class="about-room">
                           <span class="title">No of Beds</span>
                           <span class="content">4</span>
                           </span>
                           <span class="about-room">
                           <span class="title">No of guests</span>
                           <span class="content">4</span>
                           </span>
                           <span class="about-room">
                           <span class="title">Price per night</span>
                           <span class="content">400$</span>
                           </span>
                           <span class="about-room">
                           <span class="title">No of Rooms </span>
                           <span class="content">3</span>
                           </span>
                           <span class="about-room">
                           <span class="title">Shared room </span>
                           <span class="content">No</span>
                           </span>
                           <span class="about-room">
                           <span class="title">Private bathroom </span>
                           <span class="content">Yes</span>
                           </span>
                           <span class="about-room">
                           <span class="title">Types of bed</span>
                           <span class="content">Double Bed, floor mattress</span>
                           </span>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="property-contact-info">
                     <div class="contact-details">
                        <div class="heading">
                           <h2>Contact info</h2>
                           <a href="#" class="edit">Edit</a>
                        </div>
                        <div class="contact-num">
                           <input type="text" placeholder="+1 123 456 7890" value="+1 123 456 7890" readonly>
                        </div>
                     </div>
                     <div class="website-details">
                        <div class="heading">
                           <h2>Website</h2>
                           <a href="#" class="edit">Edit</a>
                        </div>
                        <div class="website-url">
                           <input type="text" placeholder="www.thelojabythewater.in"
                              value="www.thelojabythewater.in" readonly>
                        </div>
                     </div>
                     <div class="cancelation-policy-details">
                        <div class="heading">
                           <h2>Free Cancelation policy</h2>
                           <a href="#" class="edit">Edit</a>
                        </div>
                        <div class="policy-day">
                           <input type="text" placeholder="No. of days" value="5 Days" readonly>
                        </div>
                     </div>
                  </div>
                  <div class="property-amenities">
                     <div class="heading">
                        <h2>Amenities</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="amenities-list">
                        <span>Wake-up Call</span>
                        <span>Valet Parking</span>
                        <span>Cribs/Infant Beds</span>
                        <span>Spa</span>
                        <span>Fitness Center/Gym</span>
                     </div>
                  </div>
                  <div class="property-info">
                     <div class="heading">
                        <h2>Property info</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="info-list">
                        <input type="text" value="1 double bed with private bathroom" readonly>
                        <input type="text" value="1 Single Bed, floor mattress" readonly>
                        <input type="text" value="1 double bed" readonly>
                     </div>
                  </div>
                  <div class="property-policies">
                     <div class="heading">
                        <h2>Policies</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="policy-list">
                        <span class="num">1.</span>
                        <div class="policy-details">
                           <span class="policy-title">Cancelation Policy</span>
                           <textarea class="policy-content" readonly>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
                           </textarea>
                        </div>
                     </div>
                     <div class="policy-list">
                        <span class="num">2.</span>
                        <div class="policy-details">
                           <span class="policy-title">Important Information</span>
                           <textarea class="policy-content" readonly>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
                           </textarea>
                        </div>
                     </div>
                  </div>
                  <div class="property-booking-info">
                     <div class="heading">
                        <h2>How many days prior can guest book the property</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="advance-booking-days">
                        <input type="text" value="4 days" readonly>
                     </div>
                     <div class="heading">
                        <h2>Free cancellation</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="cancel-booking-days">
                        <input type="text" value="4 days" readonly>
                     </div>
                  </div>
                  <div class="property-access-permission">
                     <div class="heading">
                        <h2>Tell us who are allowed in your property</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="property-access-details">
                        <ul>
                           <li>Are bachelors/unmarried couples allowed? - <span>yes</span></li>
                           <li>Are guests below the age of 18 allowed? - <span>yes</span></li>
                           <li>Are kids allowed? - <span>yes</span></li>
                           <li>Are pets allowed? - <span>yes</span></li>
                        </ul>
                     </div>
                  </div>
                  <div class="property-safety">
                     <div class="heading">
                        <h2>Tell us about room Safety & Hygiene</h2>
                        <a href="#" class="edit">Edit</a>
                     </div>
                     <div class="property-safety-details">
                        <ul>
                           <li>How often is the room cleaned/serviced while occupied? - <span>Daily</span></li>
                           <li>How often is the room cleaned/serviced when it is not booked by users -
                              <span>Alternative days</span>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="manage-listing">
                     <div class="heading">
                        <h2>Manage listing</h2>
                     </div>
                     <div class="manage-action">
                        <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" value="Listed" name="manageListing"
                              id="listed" checked>
                           <label class="form-check-label" for="listed">
                           Listed
                           </label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" value="Under maintanance"
                              name="manageListing" id="underMaintanance">
                           <label class="form-check-label" for="underMaintanance">
                           Under maintanance
                           </label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" value="Snooze" name="manageListing"
                              id="snooze">
                           <label class="form-check-label" for="snooze">
                           Snooze
                           </label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" value="Deactivate" name="manageListing"
                              id="deactivate">
                           <label class="form-check-label" for="deactivate">
                           Deactivate
                           </label>
                        </div>
                     </div>
                  </div>
                  <br>
                  <button data-bs-toggle="modal" class="btn btn-secondary" data-bs-target="#reasonToDeleteListingModal">Reason to Delete Listing</button> &nbsp;
                  <button data-bs-toggle="modal" class="btn btn-secondary" data-bs-target="#feedbackModal">Feedback</button> &nbsp;
                  <button data-bs-toggle="modal" class="btn btn-secondary" data-bs-target="#deleteModal">Delete Successfully</button> &nbsp;
                  <button data-bs-toggle="modal" class="btn btn-secondary" data-bs-target="#snoozedDateRangeModal">Snoozed</button> &nbsp;
                  <button data-bs-toggle="modal" class="btn btn-secondary" data-bs-target="#snoozedModal">Snoozed Successfully</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Reason to Delete Listing Modal -->
   <div class="modal fade modal-lg" id="reasonToDeleteListingModal" tabindex="-1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Tell us the reason to delete your listing</h5>
               <p class="modal-subtitle">We understand that deactivating an account can be a difficult decision. If
                  you don't mind sharing, could you please let us know why you've decided to deactivate your
                  account?
               </p>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form>
                  <div class="form-field">
                     <textarea name="" class="form-control" placeholder="Type your reason"></textarea>
                  </div>
                  <div class="action-btn">
                     <button type="button" class="btn go-back" data-bs-dismiss="modal">No, Go back</button>
                     <button type="button" class="btn delete" data-bs-dismiss="modal">Delete my listing</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Feedback Modal -->
   <div class="modal fade modal-lg" id="feedbackModal" tabindex="-1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">We value your feedback</h5>
               <p class="modal-subtitle">Your feedback is important to us. Could you please share the reason for deactivating your account so we can continue to improve our platform?</p>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form>
                  <div class="form-field">
                     <textarea name="" class="form-control" placeholder="Type your feedback"></textarea>
                  </div>
                  <div class="action-btn">
                     <button type="button" class="btn go-back" data-bs-dismiss="modal">No, Go back</button>
                     <button type="button" class="btn delete" data-bs-dismiss="modal">Submit feedback</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Delete Modal -->
   <div class="modal fade modal-lg" id="deleteModal" tabindex="-1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-body">
               <div class="thankyou-content">
                  <div class="sucess-icon">
                     <img src="assets/img/dashboard/tick.svg" alt="Sucess Icon">
                  </div>
                  <div class="message-container">
                     <h2>Your have deleted your listing</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pret.</p>
                     <button class="continueButton" data-bs-dismiss="modal">Go back</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Snoozed Date range Modal -->
   <div class="modal fade modal-lg" id="snoozedDateRangeModal" tabindex="-1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Snooze your listing instead</h5>
               <p class="modal-subtitle">Snooze your listing temporarily to prevent new bookings for a certain period. You'll need to continue hosting guests who have already made reservations during this time.</p>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form     [ngClass]="ShowCalendar == true ? 'hide-me' : ''">
                  <div class="form-field">
                     <label for="snoozeStartDate" class="form-label">Snooze your listing from</label>
                     <input type="text" id="snoozeStartDate" (click)="openDatepicker()" name="snoozeStartDate" placeholder="Select date" class="form-control ngx-daterangepicker-action">
                  </div>
                  <div class="form-field">
                     <label for="snoozeEndDate" class="form-label">Snooze your listing to</label>
                     <input type="text" id="snoozeEndDate" (click)="openDatepicker()" name="snoozeEndDate" placeholder="Select date" class="form-control ngx-daterangepicker-action">
                  </div>
                  <div class="action-btn">
                     <button type="button" class="btn go-back" data-bs-dismiss="modal">No, delete my listing</button>
                     <button type="button" class="btn delete" data-bs-dismiss="modal">Snooze my listing</button>
                  </div>
               </form>
               <div class="fx-date-range-container" [ngClass]="ShowCalendar == false ? 'hide-me' : ''">
                  <ngx-daterangepicker-material (choosedDate)="choosedDate($event)"  [(ngModel)]="selected"  [linkedCalendars]="true">
                  </ngx-daterangepicker-material>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Snoozed Modal -->
   <div class="modal fade modal-lg" id="snoozedModal" tabindex="-1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-body">
               <div class="thankyou-content">
                  <div class="sucess-icon">
                     <img src="assets/img/dashboard/tick.svg" alt="Sucess Icon">
                  </div>
                  <div class="message-container">
                     <h2>Your have snoozed your listing</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pret.</p>
                     <button class="continueButton" data-bs-dismiss="modal">Go back</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control"/> -->
</main>
