<div class="calendar-container">
   <div class="date-calendar">
      <div class="month-and-year-toggle">
         <div class="months-list">
            <button (click)="changeMonth('prev')"  type="button" class="prev-month" 
            [ngClass]="checkIfDisabled('month') ? 'disabled' : '' ">
            <i class="fc-icon fc-icon-chevron-left"></i>
            </button>
            <div class="single-month-filter">
               {{ monthsList[currentMonthIndex].monthName }}
            </div>
            <button (click)="changeMonth('next')" type="button" class="next-month">
            <i class="fc-icon fc-icon-chevron-right"></i>
            </button>
         </div>
         <div class="years-list">
            <button (click)="updateYearCalendar('prev')"  [ngClass]="checkIfDisabled('year') ? 'disabled' : '' "  type="button" class="prev-year">
            <i class="fc-icon fc-icon-chevron-left"></i>
            </button>
            <div class="single-year-filter">
               {{ yearList[currentYearIndex].yearName }}
            </div>
            <button (click)="updateYearCalendar('next')" type="button"  [ngClass]="disableNextYear() ? 'disabled' : '' " class="next-year">
            <i class="fc-icon fc-icon-chevron-right"></i>
            </button>
         </div>
      </div>
      <div class="calender-box">
         <full-calendar #calendar [options]="calendarOptions"></full-calendar>
      </div>
   </div>
</div>
<div class="modal fade" id="add-price-modal" tabindex="-1">
   <div class="modal-dialog">
      <div class="modal-content text-center">
         <div class="modal-header">
            <h5 class="modal-title">Add price per table <span>(in $-USD)</span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-field">
                  <input type="text" class="form-control" value="{{avgRoomPrice}}" name="room-price">
               </div>
               <div class="action-btn">
                  <button type="button" class="btn save">Save</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
