<div class="sidebar"  [class]="{'collapse-navbar' : this.collapse}">
    <div class="inner-sidebar">
        <ul class="list-unstyled components" id="main-sidebar">
			<li  routerLinkActive="is-active">
                <a routerLink="../dashboard">
                    <span class="icon">
                    	<img alt="icon" class="active-img" src="/assets/img/backend/sidebar/dashboard.svg"></span>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
             <li  routerLinkActive="is-active">
                <a routerLink="../booking-management">
                    <span class="icon">
                        <img alt="icon" class="active-img" src="/assets/img/backend/sidebar/booking-management.svg"></span>
                    <span class="nav-text">Booking Management</span>
                </a>
            </li>  
              <li  routerLinkActive="is-active">
                <a routerLink="../pricing-management">
                    <span class="icon">
                        <img alt="icon" class="active-img" src="/assets/img/backend/sidebar/price-managemnt.svg"></span>
                    <span class="nav-text">Pricing Management</span>
                </a>
            </li>  

             <li  routerLinkActive="is-active">
                <a routerLink="../messages">
                    <span class="icon">
                        <img alt="icon" class="active-img" src="/assets/img/backend/sidebar/message.svg"></span>
                    <span class="nav-text">Messages</span>
                </a>
            </li>  
             <li  routerLinkActive="is-active">
                <a routerLink="../influencer">
                    <span class="icon">
                        <img alt="icon" class="active-img" src="/assets/img/backend/sidebar/influencer.svg">
                    </span>
                    <span class="nav-text">Influencer</span>
                </a>
            </li>
            <li  routerLinkActive="is-active">
                <a routerLink="../establishment-management">
                    <span class="icon">
                    	<img alt="icon" class="active-img" src="/assets/img/backend/sidebar/establishment-management.svg"></span>
                    <span class="nav-text">Property Profile</span>
                </a>
            </li> 
           
           
            <li  routerLinkActive="is-active">
                <a routerLink="../review-management">
                    <span class="icon">
                    	<img alt="icon" class="active-img" src="/assets/img/backend/sidebar/review-managemnt.svg"></span>
                    <span class="nav-text">Review Management</span>
                </a>
            </li> 

            <li  routerLinkActive="is-active">
                <a routerLink="../support">
                    <span class="icon">
                    	<img alt="icon" class="active-img" src="/assets/img/backend/sidebar/support.svg"></span>
                    <span class="nav-text">Support</span>
                </a>
            </li>  
             <li  routerLinkActive="is-active">
                <a routerLink="../task">
                    <span class="icon">
                        <img alt="icon" class="active-img" src="/assets/img/backend/sidebar/task.svg"></span>
                    <span class="nav-text">Task</span>
                </a>
            </li>  
            <li  routerLinkActive="is-active">
                <a routerLink="../team">
                    <span class="icon">
                        <img alt="icon" class="active-img" src="/assets/img/backend/sidebar/team.svg"></span>
                    <span class="nav-text">Team</span>
                </a>
            </li>  
              <li  routerLinkActive="is-active">
                <a routerLink="../departments">
                    <span class="icon">
                        <img alt="icon" class="active-img" src="/assets/img/backend/sidebar/department.svg"></span>
                    <span class="nav-text">Departments</span>
                </a>
            </li>  
           
		  
        </ul>    
        <div class="collapse-btn">
           <!--  <button type="button" class="arrow-btn" (click)="collapsenavbar()">
            </button> -->
        </div>
    </div>
</div>