<div class="details-faq" *ngIf="type == 'details'">
   <div class="title">FAQ</div>
   <div class="question">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla massa scelerisque mauris euismod congue.
      Ssit amet, consectetur adipiscing elit. Sed fringilla massa scelerisque mauris euismod ?
   </div>
   <div class="answer-info">
      <div class="faq-answer-post">
         <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla massa scelerisque mauris euismod congue. Ssit amet, consectetur adipiscing elit. Sed fringilla massa scelerisque mauris euismod ? </textarea>
         <button type="button">Send</button>
      </div>
      <div class="user-details">
         <div class="email-assigned">
            <div class="user-name"><img src="assets/img/user.svg" alt="Icon"><span>Cole Webster</span></div>
            <div class="assigned-on">
               <div class="assigned-on-title">Assigned on</div>
               <div class="assigned-on-date">Sept 9, 2020</div>
            </div>
         </div>
         <div class="user-email"> <img src="assets/img/mail.svg" alt="Icon"><span>Coleebster@email.com</span></div>
      </div>
   </div>
</div>
<div class="feedback-faq" *ngIf="type == 'feedback'">
   <div class="title">Feedback</div>
   <div class="question">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla massa scelerisque mauris euismod congue.
      Ssit amet, consectetur adipiscing elit. Sed fringilla massa scelerisque mauris euismod ?
   </div>
   <div class="answer-info">
      <div class="user-details">
         <div class="email-assigned">
            <div class="user-name"><img src="assets/img/user.svg" alt="Icon"><span>Cole Webster</span></div>
            <div class="assigned-on">
               <div class="assigned-on-title">Date</div>
               <div class="assigned-on-date">Sept 9, 2020</div>
            </div>
         </div>
         <div class="user-email"> <img src="assets/img/mail.svg" alt="Icon"><span>Coleebster@email.com</span></div>
      </div>
   </div>
</div>